.header-box {
    display: flex;
    height: 80px;
}

.style-logo {
    font-family: 'Raleway';
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.style-logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
    display: block;
    margin-bottom: 20px;
}

.style-logo-add {
    color: var(--brand-color)
}

.list-navigation {
    display: flex;
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.list-navigation-item:not(:last-child) {
    margin-right: 50px;
}

.activ-pages {
    color: var(--brand-color);
    position: relative;
}

.activ-pages::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--brand-color);
    border-radius: 2px;
    display: block;
    position: absolute;
    transform: translateY(-75%);
}

.navigation-item {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px 0px;
    transition: color 250ms var(--brand-timefn);
}

.navigation-item:visited {
    color: inherit;
}

.navigation-item:hover {
    color: var(--brand-color)
}

.navigation-item:focus {
    color: var(--brand-color)
}

.container-contacts {
    margin-left: auto;
    padding: 32px 0px;
}

.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color-text);
    text-decoration: none;
    transition: color 250ms var(--brand-timefn);
}

.contacts:not(:last-child) {
    margin-right: 30px;
}

.mail-icon,
.tel-icon {
    margin-right: 10px;
    fill: currentColor;
}

.contacts:hover {
    color: var(--brand-color);
}

.contacts:focus {
    color: var(--brand-color);
}